[submodule "pinyin-data"]
	path = pinyin-data
	url = git@github.com:mozillazg/pinyin-data.git
	shallow = true
[submodule "98wubi-tables"]
	path = 98wubi-tables
	url = git@github.com:yanhuacuo/98wubi-tables.git
	shallow = true
[submodule "rime-shuangpin-fuzhuma"]
	path = rime-shuangpin-fuzhuma
	url = git@github.com:gaboolic/rime-shuangpin-fuzhuma.git
	shallow = true
[submodule "rime-bopomofo"]
	path = rime-bopomofo
	url = git@github.com:rime/rime-bopomofo.git
	shallow = true
[submodule "hanzi-chars"]
	path = hanzi-chars
	url = git@github.com:zispace/hanzi-chars.git
	shallow = true
[submodule "wubi-convert-cpp"]
	path = wubi-convert-cpp
	url = git@github.com:lam126/wubi-convert-cpp.git
[submodule "Cangjie5"]
	path = Cangjie5
	url = git@github.com:Jackchows/Cangjie5.git
[submodule "rime-zong"]
	path = rime-zong
	url = git@github.com:zongxinbo/rime-zong.git
[submodule "rime-huma"]
	path = rime-huma
	url = git@github.com:ywxt/rime-huma.git
[submodule "rime-xuma"]
	path = rime-xuma
	url = git@github.com:Ace-Who/rime-xuma.git
[submodule "RIME-Liur2024"]
	path = RIME-Liur2024
	url = git@github.com:dasu88/RIME-Liur2024.git
